/* <button className="bg-purple-400 text-black text-sm p-2 w-full rounded-md font-bold mr-2 hover:bg-purple-500 active:bg-purple-600">
    Add to List
</button> */

button {
	font-weight: bold;
	padding: 5px;
	font-size: 14px;
	border-radius: 6px;
	border: 2px solid;
	transition-duration: 0.2s;
}

.primary {
	background-color: hsl(286, 100%, 54%);
	border-color: hsl(286, 100%, 54%);
	color: black;
}
.primary:hover:enabled {
	background-color: rgb(135, 113, 200);
	border-color: rgb(135, 113, 200);
}
.primary:active:enabled {
	background-color: rgb(107, 89, 158);
	border-color: rgb(107, 89, 158);
}

.secondary {
	border-color: rgba(167, 139, 250);
	color: rgba(167, 139, 250);
}
.secondary:hover:enabled {
	border-color: rgb(135, 113, 200);
	color: rgb(135, 113, 200);
}
.secondary:active:enabled {
	border-color: rgb(107, 89, 158);
	color: rgb(107, 89, 158);
}

.primary:disabled {
	background-color: rgba(167, 139, 250, 0.198);
	border-color: rgba(167, 139, 250, 0.198);
	color: black;
}
