input {
	background-color: rgb(30, 30, 30);
	border: 2px solid rgb(30, 30, 30);
	color: rgba(229, 231, 235);
	border-radius: 6px;
	padding: 6px;
	font-weight: 600;
	transition-duration: 0.2s;
	outline: none;
}

input:hover {
	border-color: rgba(167, 139, 250, 0.301);
}
input:focus {
	border-color: rgba(167, 139, 250);
}
